@{
    ViewBag.Title = "Home Page";
}

<div class="dashboard-container">

    <div class="row">
        <div class="col-md-6" onclick="location.href = '/Consortium/Index';">
            <div class="widget widget-seven background-default">
                <div class="widget-body">
                    <div href="javascript: void(0);" class="widget-body-inner">
                        <h5 class="text-uppercase">Consorcios</h5>
                        <i class="counter-icon icmn-server"></i>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6" onclick="location.href = '/User/Index';">
            <div class="widget widget-seven background-default">
                <div class="widget-body">
                    <div href="javascript: void(0);" class="widget-body-inner">
                        <h5 class="text-uppercase">Usuarios</h5>
                        <i class="counter-icon icmn-server"></i>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6" onclick="location.href = '/Owner/Index';">
            <div class="widget widget-seven background-default">
                <div class="widget-body">
                    <div href="javascript: void(0);" class="widget-body-inner">
                        <h5 class="text-uppercase">Propietarios</h5>
                        <i class="counter-icon icmn-server"></i>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6" onclick="location.href = '/Backlog/Index';">
            <div class="widget widget-seven background-default">
                <div class="widget-body">
                    <div href="javascript: void(0);" class="widget-body-inner">
                        <h5 class="text-uppercase">Inquilinos</h5>
                        <i class="counter-icon icmn-server"></i>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6" onclick="location.href = '/Ownership/Index';">
            <div class="widget widget-seven background-default">
                <div class="widget-body">
                    <div href="javascript: void(0);" class="widget-body-inner">
                        <h5 class="text-uppercase">Propiedades</h5>
                        <i class="counter-icon icmn-server"></i>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6" onclick="location.href = '/FunctionalUnit/Index';">
            <div class="widget widget-seven background-default">
                <div class="widget-body">
                    <div href="javascript: void(0);" class="widget-body-inner">
                        <h5 class="text-uppercase">Unidades Funcionales</h5>
                        <i class="counter-icon icmn-server"></i>

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>