@{
    ViewBag.Title = "Home Page";
}



<div id="page-content" class="sidebar-partial sidebar-visible-lg sidebar-no-animations">

    <div id="main-container">
        <div class="content-header">
            <ul class="nav-horizontal text-center">
                <li class="active">
                    <a href="javascript:void(0)"><i class="fa fa-home"></i> Home</a>
                </li>
                <li>
                    <a href="/Users/Index"><i class="gi gi-group"></i> Propietarios / Inqulinos</a>
                </li>                
                <li>
                    <a href="/Providers/Index"><i class="gi gi-group"></i> Proveedores</a>
                </li>                
                <li>
                    <a href="/Consortium/Index"><i class="gi gi-building"></i> Consorcios</a>
                </li>
                <li>
                    <a href="/Backlog/Index"><i class="fa fa-ticket"></i> Tickets</a>
                </li>

            </ul>
        </div>

    
    </div>
    
</div>

