@model Administracion.DomainModel.Spend

        <tr>
            <td style="border: solid 1px; border-color: #eaedf1;"></td>
            <td class="border-right-none " style="border-left: solid 1px; border-color: #eaedf1;">@Model.Description</td>
            @if (Model.SpendClass != null && Model.SpendClass.Id == 4)
            {
                <td style="border: solid 1px; border-color: #eaedf1;">$@Model.Bill.Amount</td>
            }
            else
            {
                <td style="border: solid 1px; border-color: #eaedf1;"></td>
            }

            @if (Model.SpendClass != null && Model.SpendClass.Id == 5)
            {
                <td style="border: solid 1px; border-color: #eaedf1;">($@Model.Bill.Amount)</td>
            }
            else
            {
                <td style="border: solid 1px; border-color: #eaedf1;"></td>
            }

            
            @if (Model.SpendClass != null && Model.SpendClass.Id == 1)
            {
                <td style="border: solid 1px; border-color: #eaedf1;">$@Model.Bill.Amount</td>
            }
            else
            {
                <td style="border: solid 1px; border-color: #eaedf1;"></td>
            }

            @if (Model.SpendClass != null && Model.SpendClass.Id == 2)
            {
                <td style="border: solid 1px; border-color: #eaedf1;">$@Model.Bill.Amount</td>
            }
            else
            {
                <td style="border: solid 1px; border-color: #eaedf1;"></td>
            }

            @if (Model.SpendClass != null && Model.SpendClass.Id == 3)
            {
                <td style="border: solid 1px; border-color: #eaedf1;">$@Model.Bill.Amount</td>
            }
            else
            {
                <td style="border: solid 1px; border-color: #eaedf1;"></td>
            }
            @{ var total = Model.SpendClass != null && Model.SpendClass.Id == 5 ? - Model.Bill.Amount : Model.Bill.Amount;}
            <td  style="border: solid 1px; border-color: #eaedf1;"> @total</td>                        
            <td style="border: solid 1px; border-color: #eaedf1;" class="text-center">
                <div class="btn-group">
                    <a href="UpdateSpendById?id=@Model.Id&consortiumId=@Model.Consortium.Id" data-toggle="tooltip" title="Editar" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                    <a href="#modal-delete-@Model.Id" data-toggle="modal" title="Borrar Gasto" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                </div>
            </td>
        </tr>

	<!-- DELETE -->
<div id="modal-delete-@Model.Id" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header text-center">
                <h2 class="modal-title"><i class="fa fa-pencil"></i> ELIMINAR GASTO </h2>
            </div>
            <!-- END Modal Header -->
            <!-- Modal Body -->
            <div class="modal-body">
                <form action="index.html" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered" onsubmit="return false;">
                    <fieldset>
                        <legend>Estas seguro que queres eliminar el gasto @Model.Description</legend>

                    </fieldset>

                    <div class="form-group form-actions">
                        <div class="col-xs-12 text-right">
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancelar</button>
                            <button onclick="location.href='DeleteSpend?id=@Model.Id&consortiumId=@Model.Consortium.Id'" type="submit" class="btn btn-sm btn-danger">Eliminar</button>

                        </div>
                    </div>
                </form>
            </div>
            <!-- END Modal Body -->
        </div>
    </div>
</div>




