@model Administracion.Models.CreateSpendViewModel
@using Administracion.Models;
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="page-content" class="sidebar-partial sidebar-visible-lg sidebar-no-animations">

    <div id="main-container">
        <div class="content-header">
            <ul class="nav-horizontal text-center">
                @for (int i = 1; i < 6; i++)
                {
                    var actualMonth = DateTime.Now.AddMonths(-i);

                    <li>
                        <a href="/Spend/PastList?Id=@Model.ConsortiumId&pastMonth=@i"><i class="fa fa-arrow-down"></i> Gastos de @actualMonth.ToString("MMMM", System.Globalization.CultureInfo.CreateSpecificCulture("es")) @actualMonth.Year</a>
                    </li>

                }

            </ul>
        </div>
        <ul class="breadcrumb breadcrumb-top">
            <li><a href="/home">Home</a></li>
            <li><a href="/Consortium/Index">Consorcios</a></li>
            <li><a href="/Consortium/Details/@Model.ConsortiumId">Consorcio</a></li>
            <li><a href="/Spend/Index?Id=@Model.ConsortiumId">Gastos</a></li>
        </ul>
    </div>
</div>

