@model Administracion.Models.ConsortiumAccountSummaryViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-content" class="sidebar-partial sidebar-visible-lg sidebar-no-animations">

    <div id="main-container">

        <div class="content-header">
            <ul class="nav-horizontal text-center">
                <li>
                    <a href="/DataBase/Index"><i class="fa fa-home"></i> Home</a>
                </li>

                <li class="active">
                    <a href="#"><i class="gi gi-building"></i> Consorcios</a>
                </li>
                <li>
                    <a href="/Consortium/PrintPaymentTicketsPDF?Id=@Model.Id&month=@Model.Month" target="_blank"><i class="fa fa-file-pdf-o"></i> Talones de Pago PDF</a>
                </li>
                <li>
                    <a href="/Consortium/PrintPaymentTicketsHTML?Id=@Model.Id&month=@Model.Month" target="_blank"><i class="fa fa-html5"></i> Talones de Pago HTML</a>
                </li>
                <li>
                    <a href="/Consortium/PrintBalancePDF?Id=@Model.Id&month=@Model.Month" target="_blank"><i class="fa fa-file-pdf-o"></i> Balance PDF</a>
                </li>
                <li>
                    <a href="/Consortium/PrintBalanceHTML?Id=@Model.Id&month=@Model.Month" target="_blank"><i class="fa fa-html5"></i> Balance HTML</a>
                </li>
            </ul>
        </div>
        <ul class="breadcrumb breadcrumb-top">
            <li><a href="/home">Home</a></li>
            <li><a href="/Consortium/Index">Consorcio</a></li>
            <li><a href="">Estados de cuenta</a></li>
        </ul>
        <div class="block full">
            <div class="block-title">
                <h2><strong>Listado de</strong> Unidades</h2>
            </div>
            <p>Acá podrás encontrar el estado de cuenta de cada unidad</p>


            <div class="panel-heading">
                <div class="row">                    
                    <div class="col-md-2">                    
                    </div>
                </div>
            </div>



            <div class="table-responsive">
                @if (Model.Units.Count() > 0)
                {
                    <table id="example-datatable" class="table table-vcenter table-condensed table-bordered reporte">                    

                            <thead>
                                <tr>
                                    @*<th class="text-center">Uf</th>*@
                                    <th class="text-center">Piso</th>
                                    <th class="text-center">Depto</th>
                                    @*<th class="text-center">Prop.</th>*@
                                    <th class="text-center">Saldo Anterior</th>
                                    <th class="text-center">Gastos A</th>
                                    <th class="text-center">Gastos B</th>
                                    <th class="text-center">Gastos C</th>
                                    <th class="text-center">Expensas</th>
                                    <th class="text-center">Edesur</th>
                                    <th class="text-center">Aysa</th>
                                    <th class="text-center">Intereses</th>
                                    <th class="text-center">Total del Mes</th>
                                    <th class="text-center">Desc. Pago Puntual</th>
                                    <th class="text-center">Total A Pagar</th>
                                    <th class="text-center">Pagos</th>

                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var unitResume in Model.Units)
                                {
                                    @Html.Partial("_UnitResumeItem", unitResume)
                                }
                            </tbody>
                        </table>

                }
                

            </div>
        </div>


    </div>
</div>
