@{
    ViewBag.Title = "Home Page";
}

<div id="page-content">

    <div class="content-header">
        <ul class="nav-horizontal text-center">
            <li>
                <a href="page_ecom_dashboard.html"><i class="fa fa-home"></i> Dashboard</a>
            </li>

            <li class="active">
                <a href="page_ecom_customer_view.html"><i class="gi gi-building"></i> Consorcios</a>
            </li>
        </ul>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li>Consorcios</li>
        <li><a href="carman-consorcios-lista">Listar</a></li>
        <li><a href="">Consorcio 1</a></li>
    </ul>
    <!-- END Datatables Header -->


</div>