@{
    ViewBag.Title = "Home Page";
}

<div class="dashboard-container">

    <div class="row">
        <div class="col-md-6" onclick="location.href = '/DataBase/Index';">
            <div class="widget widget-seven background-default">
                <div class="widget-body">
                    <div href="javascript: void(0);" class="widget-body-inner">
                        <h5 class="text-uppercase">Base de Datos</h5>
                        <i class="counter-icon icmn-database"></i>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6" onclick="location.href = '/Backlog/Index';">
            <div class="widget widget-seven background-default">
                <div class="widget-body">
                    <div href="javascript: void(0);" class="widget-body-inner">
                        <h5 class="text-uppercase">Ticket Backlog</h5>
                        <i class="counter-icon icmn-price-tags"></i>
                        
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>