@model Administracion.Models.UnitPaymentViewModel
@{
    ViewBag.Title = "CreatedPayment";
}




<div id="page-content" class="sidebar-partial sidebar-visible-lg sidebar-no-animations">

    <div id="main-container">
        <div class="content-header">
            <ul class="nav-horizontal text-center">
                <li>
                    <a href="/DataBase/Index"><i class="fa fa-home"></i> Home</a>
                </li>
                <li>
                    <a href="javascript:void(0)"><i class="gi gi-building"></i> Consorcio</a>
                </li>
            </ul>
        </div>
        <ul class="breadcrumb breadcrumb-top">
            <li><a href="/home">Home</a></li>
            <li><a href="">Consorcio</a></li>
        </ul>
        <div class="row">

            <div class="col-md-12">
                <!-- Basic Form Elements Block -->
                <div class="block">
                    <div class="block-title">
                        <h2>Se genero el pago exitosamente</h2>
                    </div>

                    

                            <a type="submit" class="btn btn-sm btn-primary" href='/Consortium/Details/@Model.ConsortiumId '><i class="fa fa-angle-right"></i> Volver</a>

                    

                </div>
            </div>
        </div>
    </div>
</div>






